.centered-image  {
  margin: auto;
  width: 250px;
  height: auto;
  display:block;
  border: 2px solid black
}

  h1  {
    text-align: center;
    font-size: 60px;
    display: block; 
  }

  .columns  {
    width: 600px;
    float: right;
    border:
  }
  
  h2  {
    display: block;
    text-align: center;
    margin-top: 70px;
    margin-bottom: auto;
    font-size: 40px;
    border: 2px solid black;
    padding: 4px;
    background-color: #6e917c;
  }

  h3  {
  font-size: 25px;
  }

  .highlight  {
    color: #c3000e
  }

  p   {
    font-size: 20px;
  }

  ul  {
    font-size: 20px;
  }

  ol  {
    font-size: 20px;
  }

